body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    background-color: rgb(210, 247, 181);
}

.container {
    display: grid;
    padding: 20px;
    grid-gap: 15px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo{
    grid-area: titulo;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 5px yellow;
    letter-spacing: 1px;

}

.links{
    grid-area: links;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    text-shadow: 2px 2px 5px rgb(207, 165, 247);
    letter-spacing: 1px;
    align-items: flex-start;
    width: 200%;
}

.promocao{
    grid-area: promocao;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(243, 95, 26);
    letter-spacing: 1px;
}

.imagem{
    border: solid 2px;
    grid-area: imagem;
    height: 100%;
}