body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    max-width: 960px;
    margin: auto;
}


.container {
    display: grid;
    padding: 10px;
    grid-gap: 1px;
    border: solid 3px;
    height: 1150px;
    width: 1000px;
    flex-direction: row;
    justify-content: space-around;
}

div{
    /*border: solid 2px;*/
}

.buscar{
    border: solid 2px;
    width: 82px;
    height: 30px;
    grid-area: buscar;
    text-align: center;
}
.serrote{
    width: 300px;
    height: 300px;
    border: solid 2px;
    grid-area: serrote;
}

.martelo{
    border: solid 2px;
    width: 350px;
    height: 350px;
    grid-area: martelo;

}

.alicate{
    border: solid 2px;
    width: 300px;
    height: 300px;
    grid-area: alicate;
}

.maquita{
    border: solid 2px;
    width: 315px;
    height: 321px;
    grid-area: maquita;
    align-items: center;
}

.loja{
    grid-area: loja;
}

img{
    width: 100%;
}

.retangulo{
    border: solid 2px;
    width: 266px;
    height: 50px;
    grid-area: retangulo;
}

.categorias{
    grid-area: categorias;
}
